.footer {
  padding: 50px 4%;
  color: #757575;
  font-size: 0.9rem;
  margin-top: auto;
  background-color: transparent; /* Or a slightly lighter dark if needed */
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-text a {
  text-decoration: underline;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 0.8rem;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .footer-links {
    grid-template-columns: repeat(4, 1fr);
  }
}
